extends layout

block content
    .container
      form.box.m-2(method='post', action='add_images', enctype='multipart/form-data')
            .row.justify-content-center.text-center.d-flex.align-items-center.flex-column(style='height: 200px;')
                  img.m-2(src='images/upload.png', alt='', style='height: 80px; width: 80px;')
                  .box__input
                        input#file.box__file(type='file', name='files[]', data-multiple-caption='{count} files selected', multiple='')
                        label(for='file')
                              strong Choose a file
                              span.box__dragndrop  or drag it here
                              | .
                        button.box__button(type='submit') Upload
                  .box__uploading Uploading…
                  .box__success Done!
                  .box__error
                        | Error! 
                        span
                        | .

      #uploading__list.container

    script(src="javascripts/add_images.js")
