extends layout

block content
      .container.mt-4
            h1.offset-md-2.text-center Gallery
            .row
                  .col-md-2.mb-2
                        h5 Categories
                        #categories.list-group
                              button#ALL.list-group-item.list-group-item-action.active(type='button') ALL IMAGES
                  #gallery.col-md-10.text-center
                        .row.justify-content-center

      script(src='javascripts/index.js')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
      script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
